.container{
    width : 90%;
    margin : 75px auto auto auto;
    min-height : 800px;
}

.title{
    font-family: acumin-pro-wide, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    margin-bottom : 10px;

    color: #333333;
}