html,body{
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
    font-size: 16px;
    background-color: #FFF;
    
}

.container{
    width : 100%;
    margin : 0;
}

.innerContainer{
    min-height : 800px;
    width : 90%;
    margin : auto;
    z-index: 10;
}
.gridContainer{
    position : absolute;
    top: 0px;
    right : 0px;
    z-index: 0;    
}
.logoText{
    font-family: acumin-pro-wide, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.logoBox{
    position: absolute;
    width: 105px;
    height: 43px;
    top: 75px;
    text-decoration: none;
    
}
.logoBox:visited{
    color : #333333;
    text-decoration: none;
}
.title{
    position: absolute;
    width: 242px;
    height: 41px;
    top: 197px;

    font-family: acumin-pro-wide, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;

    color: #FF9C13;
}
.intro{
    position: absolute;
    width: 849px;
    height: 78px;
    top: 268px;
    font-family: acumin-pro-wide, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    line-height: 43px;

    color: #333333;
}
.profile{
    position: absolute;
    max-width: 220px;
    top: 197px;
    left : 55%;
  
    background-color: #FF9C13;
    border-radius: 50%;
    box-shadow: 5px 7px 3px -1px rgba(255,156,19,0.2);
}