html,body{
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
    background: #FFF;
    font-size: 16px;
}
.container{
    width : 100%;
    margin : 0;
    background: #FFF;
}
.innerContainer{
    background: #FFF;
    min-height : 800px;
    width : 90%;
    margin : auto;
    z-index: 10;
}
.gridContainer{
    position : absolute;
    top: 0px;
    right : 0px;
    z-index: 0;
    
}
.githubButton{
    position: absolute;
    width: 165px;
    height: 165px;
    left: 863px;
    top: 105px;
    border-radius: 90px;
    background: #E7EFF5;
    color: #181818;
    text-decoration: none;
}
.githubButton:hover{
    position: absolute;
    width: 165px;
    height: 165px;
    left: 863px;
    top: 105px;
    border-radius: 90px;
    background: #181818;
    color: #E7EFF5;
    text-decoration: none;
}
.githubText{
    position : relative;
    top: 58px;
    font-family: Acumin Pro Wide;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    padding : auto;
}
.contactButton{
    position: absolute;
    left: 1116px;
    top: 229px;
}
.contactText{
    font-family: Acumin Pro Wide;
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: right;

    position : relative;
    top : 0;
    z-index: 15;
    color: #181818;
}

.underlineBox{
    position: relative;
    width: 242px;
    height: 34px;
    top: 54px;
    z-index: 11;
    background: #E7EFF5;
}

.text{
    font-family: Acumin Pro Wide;
    font-style: italic;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 86px;
    
    color: #181818; 
}

.textBox{
    position: absolute;
    width: 670px;
    height: 254px;
    top: 344px;
}
.logoText{
    font-family: Acumin Pro Wide;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.logoBox{
    position: absolute;
    width: 105px;
    height: 43px;
    top: 75px;
}

.bottomTab{
    position : absolute;
    top: 700px;
    display : flex;
    flex-direction: row;

    
}

.bottomTabText{
    font-family: Acumin Pro Wide;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #181818;
    margin-right : 45px;
}