html,body{
    width : 100%;
    margin : 0;
    background: #FFF;
}
.container{
    background: #FFF;
    min-height : 1000px; 
}
.text{
    font-family: Acumin Pro Wide;
    font-style: italic;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;

    color: #181818;
}